<h1>New List</h1>

<%= form_for @todo_list do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :is_private %> Private list?
    </label>
  </div>

  <%= f.submit 'Save', class:'btn btn-primary btn-lg' %>
<% end %>
