<!DOCTYPE html>
<html>
<head>
  <title>SimpleTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %> |
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>
      <div class="col-xs-9">
        <div id="notices">
          <% if notice.present? %>
            <aside class="alert alert-info">
              <%= notice %>
            </aside>
          <% end %>
          <% if alert.present? %>
            <aside class="alert alert-danger">
              <%= alert %>
            </aside>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
